/*SELECTORES CLASE Y ID*/

#primero{
    color: blueviolet;
}

.segundo{
    color: chocolate;
}

#tercero{
    color: darkslategray;
}

.cuarto{
    color: darkgoldenrod;
}

/*PSEUDO-SELECTORES*/

input{
    display: block;
    margin: 2px;
    padding: 3px;
}

/*Pseudo-selector FOCUS*/
input:focus{
    border: 2px solid red;
    box-shadow: 0 0 2px blue;
}

select:focus{
     border: 2px solid red;
    box-shadow: 0 0 2px blue;
}

/*Pseudo-selector LINK*/
a:link{
    color: darkgreen;
}

/*Pseudo-selector HOVER*/
a:hover{
    color: chartreuse;
    background: #000;
}
